* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
@media (max-width: 1680px) {
  html {
    font-size: 90%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}
@media (max-width: 1080px) {
  html {
    font-size: 80%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}
@media (max-width: 720px) {
  html {
    font-size: 70%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: #F60;
  height: 100vh;
}

body, input, textarea, button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

#background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
#background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.border {
  width: 100%;
  height: 2.688rem;
  background: #024420;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
}

.btnOrder {
  width: 49.251rem;
  height: 17.5rem;
  background: #024420;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  border: none;
  border-top-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnOrder:active, .btnOrder:hover {
  background: #05582a;
}
.btnOrder .container {
  width: 30.787rem;
  height: 8.438rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.btnOrder .container .containHand {
  height: 100%;
  width: auto;
}
.btnOrder .container .containHand img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: auto;
}
.btnOrder .container .containText {
  width: 22.313rem;
  height: auto;
}
.btnOrder .container .containText p {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  color: #fff;
}
@media (max-width: 720px) {
  .btnOrder {
    width: 100%;
    height: 11.688rem;
    padding: 2.875rem;
    border-top-left-radius: 0;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  .btnOrder .container {
    width: 100%;
    height: 100%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  .btnOrder .container .containText {
    width: 18rem;
  }
  .btnOrder .container .containText p {
    font-size: 1.583rem;
    text-align: right;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}

#onde {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

#pagamento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

#keyboardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
#keyboardBody .containDisplay {
  position: relative;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
@media (max-width: 790px) {
  #keyboardBody .containDisplay {
    margin-bottom: 70%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}
#keyboardBody .containDisplay #display {
  width: auto;
  min-height: 4rem;
  font-size: 4rem;
  background: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  color: #fff;
  display: inline-flex;
}
#keyboardBody .containDisplay #display:focus {
  outline: none;
}
#keyboardBody .containDisplay::before {
  content: "";
  position: absolute;
  opacity: 1;
  animation: blink 1s infinite;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background: #fff;
  display: block;
  z-index: 5;
}
#keyboardBody .keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
@media (max-width: 790px) {
  #keyboardBody .keyboard {
    background: #2D3655;
    width: 100%;
    padding: 1rem 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  #keyboardBody .keyboard::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6rem;
    top: -5rem;
    left: 0;
    background: #202537;
    z-index: -1;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  #keyboardBody .keyboard .lines button {
    background: #54627E;
    flex: 1;
    box-shadow: 0 2.5px 0px #12172D;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  #keyboardBody .keyboard .line01 {
    width: 100%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  #keyboardBody .keyboard .line02 {
    width: 100%;
    padding: 0 2.785rem;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  #keyboardBody .keyboard .line03 {
    width: 100%;
    padding: 0 8.354rem;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  #keyboardBody .keyboard .line04 {
    width: 100%;
    padding: 0 8.354rem;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}
#keyboardBody .keyboard .lines {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.646rem;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
#keyboardBody .keyboard .lines button {
  width: 5.242rem;
  height: 6.609rem;
  background: #293140;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 2.376rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
#keyboardBody .keyboard .lines button:hover, #keyboardBody .keyboard .lines button:active {
  background: #1B1C1E;
}
#keyboardBody .keyboard .lines .send {
  width: 22.905rem;
}
#keyboardBody .keyboard .lines .backspace {
  width: 8.186rem;
}
#keyboardBody .keyboard .lines .backspace .containIcon {
  width: 3.495rem;
  height: auto;
  line-height: 0;
}
#keyboardBody .keyboard .lines .backspace .containIcon img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  height: auto;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#pix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
#pix .containerQRcode {
  width: 21.687rem;
  height: 22.75rem;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pix .containerQRcode img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
#pix .containerTimer {
  width: 29.439rem;
  height: 7.313rem;
  background: #fff;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 1rem;
}
#pix .containerTimer #timer {
  font-size: 1.055rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
}
#pix .containerTimer .progressBar {
  width: 100%;
  height: 0.438rem;
  background-color: #BCBCBC;
  border-radius: 1rem;
  overflow: hidden;
}
#pix .containerTimer .progressBar #progress {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  border-radius: 1rem;
  transition: width 1s linear;
}
#pix .containerTimer p {
  font: 0.718rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
}

#success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
@media (max-width: 1353px) {
  #success {
    gap: 2rem;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}
#success .containerIconCheck {
  width: 11.625;
  height: auto;
}
#success .containerIconCheck img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
#success .containerPassHour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#success .containerPassHour .containPass, #success .containerPassHour .containHour {
  width: auto;
  height: 5.563rem;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#success .containerPassHour .containPass p, #success .containerPassHour .containHour p {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
}
#success .containerPassHour .containPass p span, #success .containerPassHour .containHour p span {
  color: #0C3798;
  font-weight: 700;
}
#success .msg {
  font-size: 1.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
@media (max-width: 1080px) {
  #success .msg {
    margin-bottom: 10%;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}
#success .btnNewOrder {
  width: 24.624rem;
  height: 9.875rem;
  background: #024420;
  border-top-left-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
#success .btnNewOrder:hover, #success .btnNewOrder:active {
  background: #05582a;
}
#success .btnNewOrder i {
  color: #F60;
  font-family: "Montserrat", sans-serif;
  font-size: 138.975px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
}
#success .btnNewOrder p {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 23.225px;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 720px) {
  #success .btnNewOrder {
    width: 100%;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 0;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}

.btnBack {
  width: 8.104rem;
  height: 5.914rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 1rem;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.btnBack:hover, .btnBack:active {
  box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.7);
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.btnBack .containIcon {
  width: 3.25rem;
  height: 2.438rem;
  overflow: hidden;
}
.btnBack .containIcon img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

.containerTitle h1 {
  text-align: center;
  color: #fff;
  font-size: 3.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.containerTitle h1 .clientName {
  text-transform: capitalize;
}
.containerTitle p {
  font-size: 2.25rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.containerMenu .menu {
  width: 21.683rem;
  height: 32.559rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: none;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.containerMenu .menu:hover, .containerMenu .menu:active {
  box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.7);
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.containerMenu .menu .containImg {
  width: 100%;
  height: 16.376rem;
  padding: 2rem;
  background: #EEEFF3;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerMenu .menu .containImg img {
  object-fit: contain;
  object-position: center;
  width: auto;
  height: 100%;
}
.containerMenu .menu .containText {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerMenu .menu .containText p {
  font-size: 2.246rem;
  line-height: 1em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-align: center;
}
@media (max-width: 560px) {
  .containerMenu {
    width: 100%;
    padding: 0 2rem;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
  .containerMenu .menu {
    width: calc(50% - 1rem);
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }
}

/*# sourceMappingURL=style.css.map */
