@use 'reset.scss';
@use 'index.scss';
@use 'onde.scss';
@use 'pagamento.scss';

.btnBack{
    width: 8.104rem;
    height: 5.914rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 1rem;
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    &:hover, &:active{
        box-shadow: 0rem 0rem 1.2rem rgba(#000000, 0.7);
        transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    }
    .containIcon{
        width: 3.25rem;
        height: 2.438rem;
        overflow: hidden;
        img{
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: auto;
        }
    }
}

.containerTitle{
    h1{
        text-align: center;
        color: #fff;
        font-size: 3.625rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}

.containerMenu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    .menu{
        width: 21.683rem;
        height: 32.559rem;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border: none;
        transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
        &:hover, &:active{
            box-shadow: 0rem 0rem 1.2rem rgba(#000000, 0.7);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
        }
        .containImg{
            width: 100%;
            height: 16.376rem;
            padding: 2rem;
            background: #EEEFF3;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                object-fit: contain;
                object-position: center;
                width: auto;
                height: 100%;
            }
        }
        .containText{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 2.246rem;
                line-height: 1em;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                color: #000;
            }
        }
    }
}